.encabezado {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efefef;
}

.logo {
  margin-left: 20px;
}

.boton-titulo {
  color: white;
  background-color: red;
  border: none;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.titulo {
  text-decoration: none;
  color: white;
}

.enlaces {
  display: flex;
  justify-content: center;
  flex: 1;
}

.enlace {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: -135px;
  cursor: pointer;
}


.enlaces a:hover {
    transform: scale(1.08);
    border-bottom: 4px solid white;
    padding-bottom: 5px;
    transition: 0.2s;

}
.lista {
  list-style: none;
}

.titulo-abajo {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -45px;
    font-size: 27px;
    color: red;
}

.info-buscador {
    display: flex;
    justify-content: center;
    font-size: 23px;
    color: red;
    margin-bottom: 8px;
}

.contenedor-buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    -webkit-text-stroke: 0;
    border: 3px solid black;
    border-radius: 100px;
    width: 610px;
    height: 20px;
    padding: 13px 25px;
    margin-left: auto;
    margin-right: auto;

}

.buscador {
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
}

.icono-lupa {
    width: 35px;
    height: auto;
    margin-right: 15px;
}

.separador {
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}


.boton-user {
  border: none;
  background-color: red;
}

.pokedex-grid {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);    
    gap: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    
}

.seccion-filtrado {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 30px;
    margin-left: 700px;
    margin-right: 750px;
    width: 300px;
    -webkit-text-stroke: 1px black;
    font-size: 30px;
    margin-top: 10px;
}

.pokemon-card {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: rgb(176, 163, 163);
}

.pokemon-card img {
  width: 150px;
}

.pokemon-card:hover {
  transition: all 0.3s ease-in-out; 
  transform: scale(1.05);
  cursor: pointer;
}


.pokemon-types-container {
  display: flex;
  justify-content: center;
  gap: 8px; 
  margin-top: 10px;
}

.badge {
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

/*Colores fondo pokemons*/

.grass {
  background-color: #00A700;
}

.fire {
  background-color: #ff7a1c;
}

.water {
  background-color: #2a6aff;
}

.electric {
  background-color: #ffd426;
}

.psychic {
  background-color: #670e94;
}

.ice {
  background-color: #98D8D8;
}

.dragon {
  background-color: #7038F8;
}

.dark {
  background-color: #33302f;
}

.fairy {
  background-color: #e76a85;
}

.normal {
  background-color: #b1b1b1;
}

.fighting {
  background-color: #C03028;
}

.flying {
  background-color: #A890F0;
}

.poison {
  background-color: #A040A0;
}

.ground {
  background-color: #d88b18;
}

.rock {
  background-color: #B8A038;
}

.bug {
  background-color: #a6b806;
}

.ghost {
  background-color: #705898;
}

.steel {
  background-color: #8282af;
}
