.encabezado {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efefef;
}

.logo {
  margin-left: 20px;
}

.boton-titulo {
  color: white;
  background-color: red;
  border: none;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.titulo {
  text-decoration: none;
  color: white;
}

.enlaces {
  display: flex;
  justify-content: center;
  flex: 1;
}

.lista {
  list-style: none;
}

.enlace {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.boton-user {
  border: none;
  background-color: red;
}

.pokedex-grid {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);    
    gap: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    
}

.pokemon-card {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: gray;
}